@page
@model ASP.Net_GruppUPG.Pages.EditSerieModel
@{
    ViewData["Title"] = "Edit Serie";
}

<h1>Edit Serie</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="Serie.Title"></label>
        <input asp-for="Serie.Title" class="form-control" />
        <span asp-validation-for="Serie.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Serie.Description"></label>
        <input asp-for="Serie.Description" class="form-control" />
        <span asp-validation-for="Serie.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Serie.ReleaseYear"></label>
        <input asp-for="Serie.ReleaseYear" class="form-control" />
        <span asp-validation-for="Serie.ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Serie.Episodes"></label>
        <input asp-for="Serie.Episodes" class="form-control" />
        <span asp-validation-for="Serie.Episodes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Serie.Seasons"></label>
        <input asp-for="Serie.Seasons" class="form-control" />
        <span asp-validation-for="Serie.Seasons" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
